<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>SpringMVCPractice</display-name>
	<!-- springmvc前端控制器 -->
	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- contextConfigLocation配置mvc加载的文件（配置处理器、映射器、适配器等等） -->
		<!-- 如果不配置该参数，则默认加载的是／WEB-INF/servlet名称-servlet.xml(springmvc-servlet.xml) -->
		<!-- 配置的原因就是为了将来整合更多框架的时候，对各个框架的配置文件进行分级管理，config文件夹下面可能有更多的子配置文件，分别管理各个框架 -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:springmvc.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<!-- 另外一种配置方式是 ／ ，可以实现RESTful风格的url,但是需要配置静态文件不让DispatcherServlet解析 -->
		<url-pattern>*.action</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
